.alt1{
    background-color: transparent;
    text-align: center;
    color: whitesmoke;
}
 .alt2{
   padding-left:200px;
} 

#headerImg{
    width: 600px;
    height:100px;
}

.contact{
    text-align: center;
}

h1{
    color: aliceblue;
}

.card{
    width: 30rem;
    height:550px;
    color: aliceblue;
    border-style: solid;
    border-color: #000080;
}

.map-responsive{
    margin-top:20px;
    color:aliceblue
}

.mapButton{
    border-color: aliceblue;
}